.FMCompositeField {
	background-color:#EEEEEE;
	margin-bottom:5px;
	padding:5px;
	width:96%;
}



.FMCompositeField .trigger {
	cursor:pointer;
	margin-top:0;
	padding:0 0 0 18px;
	background:url('../images/arrows.png') left top no-repeat;
}
	.FMCheckboxCompositeField .trigger {
		background:none;
		padding-left:0;
	}

	.FMCompositeField .trigger.open {
		background-position: left bottom;
	}

	.FMCompositeField .trigger input {
		position:relative;
			top:1px;
	}



.FMCompositeField .more-content {
	display:none;
}